<ion-view view-title="Missing Children Minnesota">
    <ion-content>
        <div ng-controller="childProfileListController as cplc">
            <button class="button icon-left ion-chevron-left button-block button-positive" ng-click="cplc.NavigateToPreviousView()">
                Child Profiles
            </button>
            
            <div ng-show="cplc.children.length == 0">
                You haven't added your children yet.
            </div>

            <div class="list">
                <a class="item item-icon-right" href="#" ng-repeat="chld in cplc.children track by $index">
                    <i ng-click="cplc.editChild(chld)">{{chld.givenName}}</i>
                    <i class="icon ion-close assertive" ng-click="cplc.removeChild(chld)"></i>
                </a>
            </div>

            <button class="ion-plus button button-block button-positive" ng-click="cplc.addNewChild(cplc.newChildName)">
                Add a Child
            </button>
        </div>
    </ion-content>
</ion-view>