<ion-view view-title="Missing Children Minnesota">
  <ion-content>
    <form name="form" novalidate>
      <div ng-controller="descriptionDetailsController as cntrlr">
        <button class="button icon-left ion-chevron-left button-block button-positive" ng-click="cntrlr.NavigateToPreviousView()">
          Measurements
        </button>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Date of Measurement</span>
          <ionic-datepicker input-obj="cntrlr.datepickerObject">
            <button class="button button-block button-positive">
              {{cntrlr.child.birthday | date:cntrlr.datepickerObject.dateFormat}}
            </button>
          </ionic-datepicker>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Height</span>
          <input type="text" name="givenName" ng-model="cntrlr.child.additionalName" required>
        </label>
        <div ng-show="form.$submitted">
          <span ng-show="form.givenName.$error.required">Must enter First Name.</span>
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Middle Name</span>
          <input type="text" name="additionalName" ng-model="cntrlr.child.additionalName">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" name="familyName" ng-model="cntrlr.child.familyName" required>
        </label>
        <div ng-show="form.$submitted">
          <span ng-show="form.familyName.$error.required">Must enter Last Name.</span>
        </div>
        <!--The following is a hidden dummy input for getting form validation to work.-->
        <input type="text" style="display:none" name="birthday" ng-model="cntrlr.child.birthday" required />
        <div ng-show="form.$submitted">
          <span ng-show="form.birthday.$error.required">Must enter Birthday.</span>
        </div>

        <button type="submit" class="button icon-left ion-archive button-block button-positive"
                ng-click="cntrlr.saveChanges(form.$valid)">
          Save
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>