<ion-view view-title="Instructions">
    <ion-content ng-controller="instructionIndexController as ic">
        <static-content title="How to do a Home DNA Collection for your child" content="templates/instructions/dna.partial.html"></static-content>
        <static-content title="About Parental Abduction" content="templates/instructions/abduction.partial.html"></static-content>
        <static-content title="Child Safety Tips" content="templates/instructions/safety.partial.html"></static-content>
        <static-content title="About International Parental Abduction" content="templates/instructions/intl.partial.html"></static-content>
        <static-content title="If Your Child Is Missing" content="templates/instructions/missing.partial.html"></static-content>
        <static-content title="If Your Child Runs Away" content="templates/instructions/runaway.partial.html"></static-content>
        <static-content title="Disaster Preparedness" content="templates/instructions/disasterprep.partial.html"></static-content>
        <static-content title="About Amber Alerts" content="templates/instructions/amberalert.partial.html"></static-content>
    </ion-content>
</ion-view>
