<ion-view view-title="Missing Children Minnesota">
    <ion-content>
        <static-content title="Child's DNA" content="templates/instructions/dna.partial.html"></static-content>
        <static-content title="Parental Abduction" content="templates/instructions/abduction.partial.html"></static-content>
        <static-content title="Child Safety" content="templates/instructions/safety.partial.html"></static-content>
        <static-content title="Intl Parent Abduction" content="templates/instructions/intl.partial.html"></static-content>
        <static-content title="Missing Child" content="templates/instructions/missing.partial.html"></static-content>
        <static-content title="Runaway Child" content="templates/instructions/runaway.partial.html"></static-content>
        <static-content title="Disaster Preparedness" content="templates/instructions/disasterprep.partial.html"></static-content>
        <static-content title="Amber Alerts" content="templates/instructions/amberalert.partial.html"></static-content>
    </ion-content>
</ion-view>
