<ion-view view-title="Missing Children Minnesota">
    <ion-content>
      <div class="list">
        <div class="padding">
          <button class="button button-block button-positive">
            Child profiles
          </button>
          <button class="button button-block button-positive">
            Information
          </button>
          <button class="button button-block button-positive">
            Settings
          </button>
          <button class="button button-block button-positive">
            About
          </button>
        </div>
      </div>
    </ion-content>
</ion-view>