<ion-view view-title="Missing Children Minnesota">
    <ion-content>
      <div class="list" ng-controller="landingController">
        <div class="padding">
            <ul>
                <li ng-repeat="link in NavigationLinks()">
                    <button class="button button-block button-positive" ng-click="NavigateTo(link.controllerTarget)">
                        {{link.linkText}}
                    </button>
                </li>
            </ul>
          <!--<button class="button button-block button-positive" ng-click="showchildprofilelist()">
            Child profiles
          </button>
          <button class="button button-block button-positive" ng-click="showinstructionindex()">
            Information 2
          </button>
          <button class="button button-block button-positive" ng-click="showsettings()">
            Settings
          </button>
          <button class="button button-block button-positive" ng-click="showabout()">
            About
          </button>-->
        </div>
      </div>
      <static-page ref="data/static-content.html"></static-page>
    </ion-content>
</ion-view>
