<ion-view view-title="Missing Children Minnesota" hide-nav-bar="true">
    <ion-content class="login-background">
        <div class="row padding">
            <img src="img/login-header-img.png" />
            <h1 class="col col-offset-10 login-title">
                Missing<br>
                Children<br>
                Minnesota
            </h1>

        </div>
        <div class="margin-top-10">
            <div class="list col-offset-10 col-80 padding">
                <div class="padding">
                    <button class="button button-block button-royal" ng-click="signIn('facebook')">
                        <i class="icon ion-social-facebook padding-right"></i>
                        Login with Facebook
                    </button>
                </div>
                <div class="padding">
                    <button class="button button-block button-royal" ng-click="signIn('google')">
                        <i class="icon ion-social-google padding-right"></i>
                        Login with Google
                    </button>
                </div>
                <div class="padding">
                    <button class="button button-block button-royal" ng-click="signIn('twitter')">
                        <i class="icon ion-social-twitter padding-right"></i>
                        Login with Twitter
                    </button>
                </div>
                <div class="padding">
                    <button class="button button-block button-royal" ng-click="signIn('test')">
                        <i class="icon ion-social-twitter padding-right"></i>
                        Bypass login (test)
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>