<ion-view view-title="Missing Children Minnesota">
    <ion-content>
        <form name="form" novalidate>
            <div ng-controller="physicalDetailsController as controller">
                <button class="button icon-left ion-chevron-left button-block button-positive" ng-click="controller.NavigateToPreviousView()">
                    Physical Details
                </button>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of Measurements</span>
                    <ionic-datepicker input-obj="controller.datepickerObject">
                        <button class="button button-block button-positive">
                            {{controller.details.measurementDate | date:controller.datepickerObject.dateFormat}}
                        </button>
                    </ionic-datepicker>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Height</span>
                    <input type="text" name="height" ng-model="controller.details.height">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Weight</span>
                    <input type="text" name="weight" ng-model="controller.details.weight">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Hair color</span>
                    <input type="text" name="hairColor" ng-model="controller.details.hairColor">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Hair color</span>
                    <input type="text" name="hairColor" ng-model="controller.details.hairColor">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Hair style</span>
                    <input type="text" name="hairStyle" ng-model="controller.details.hairStyle">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Eye color</span>
                    <input type="text" name="eyeColor" ng-model="controller.details.eyeColor">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Eye glasses</span>
                    <input type="checkbox" name="eyeGlasses" ng-model="controller.details.eyeGlasses">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Eye contacts</span>
                    <input type="checkbox" name="eyeContacts" ng-model="controller.details.eyeContacts">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Skin tone</span>
                    <input type="text" name="skinTone" ng-model="controller.details.skinTone">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Racial/ethnic identity</span>
                    <input type="text" name="racialEthnicIdentity" ng-model="controller.details.racialEthnicIdentity">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Gender</span>
                    <input type="text" name="gender" ng-model="controller.details.gender">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Gender identity</span>
                    <input type="text" name="genderIdentity" ng-model="controller.details.genderIdentity">
                </label>
                <!--The following is a hidden dummy input for getting form validation to work.-->
                <input type="text" style="display:none" name="measurementDate" ng-model="controller.details.measurementDate" required />
                <div ng-show="form.$submitted">
                    <span ng-show="form.birthday.$error.required">Must enter Date.</span>
                </div>

                <button type="submit" class="button icon-left ion-archive button-block button-positive"
                        ng-click="controller.saveChanges(form.$valid)">
                    Save
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>