<div>
  <p>AMBER Alerts can only be requested by Law Enforcement. A very small percentage of missing child cases qualify for an AMBER Alert.</p>
  <p>In Minnesota, the criteria are:</p>
  <ol>
    <li>The child must be under the age of 18 (17 years old or younger).</li>
    <li>Law Enforcement must believe that the child has been abducted.</li>
    <li>Law Enforcement must believe that the child is in serious danger of bodily harm or death.</li>
    <li>There must be enough descriptive information about the victim and the abductor for the public to be of help in locating the child.</li>
    <li>The child’s information must be entered in the National Crime Information Center (NCIC) and be flagged as a child abduction.</li>
  </ol>
  <p>If your child is not issued an AMBER Alert, it does not mean that your child is not missing, that the police are not looking for your child, or that nobody is taking your child’s case seriously. All it means is that law enforcement has decided that AMBER Alert is not the right tool for finding your child and bringing them home. There are still many tools that law enforcement, you, and your team of advocates and volunteers can do to bring your child home.</p>
</div>
