<div>
  <p>Here are some resources to help you and your family know what to do should your family become separated in a disaster.</p>

  <p>The CDC has an excellent and detailed resource on how to prepare your family in the event of a disaster.</p>
  <a href="http://emergency.cdc.gov/preparedness/index.asp">http://emergency.cdc.gov/preparedness/index.asp</a>

  <p>A contact card is a really good way to start. These cards can be placed in wallets, backpacks, inside phone cases (between the phone and the case). It’s a great way to make sure that your family members all have the info they need to reunite with you in a disaster</p>
  <a href="http://www.ready.gov/sites/default/files/documents/files/Family_Emegency_Plan.pdf">http://www.ready.gov/sites/default/files/documents/files/Family_Emegency_Plan.pdf</a>

  <p>In particular, think about these things:</p>
  <ol>
    <li>Does your city, school system and employer have a disaster preparedness guide?</li>
    <li>Do you know what will happen if you need to be evacuated? </li>
    <li>If your children need to be evacuated from school?<li>
    <li>Have you signed up for your city’s Reverse 911 and Code Red systems, so that you will be notified in the case of an emergency?</li>
    <li>If you are signed up, is your information current? Consider checking to be sure.</li>
  </ol>
  <p>Quickly familiarizing yourself with this information will go a long way toward reunifying with your family after a mass disaster.</p>
</div>
