<div>
  <p>A DNA sample is one of the best tools you can have in an identification kit. DNA is the accepted standard for identifying people who cannot or will not identify themselves. Fingerprints are great to have, but should be taken by a trained professional. It is fairly easy to take and prepare a DNA sample, and if properly collected and stored, it will last indefinitely.</p>

  <p>Read these instructions all the way through from start to finish before beginning.</p>

  <p>You will need:</p>
  <ol>
    <li>A Q-Tip from a new, sealed package; just make sure the cotton end is untouched. If you are using a double-ended Q-Tip, clip off one end.</li>
    <li>A standard letter-sized envelope marked with the child’s sex, birth date, social security number, and the date the sample was taken.</li>
    <li>A plastic freezer bag.</li>
    <li>A small, clean, dry glass container that is shorter than the Q-Tip is tall. A small drinking glass should work fine.</li>
    <li>Nitrile gloves</li>
  </ol>

  <p>What to Do:</p>
  <ol>
    <li>Make sure that the child does NOT eat or drink anything for a half-hour before giving the sample, and place gloves on hands.</li>
    <li>Place the cotton end of the Q-Tip in the child’s mouth, between the gums and the cheek, the lower jaw towards the back will give a better sample. Twist the tip around a half dozen times; making sure it makes contact with the gum.</li>
    <li>Repeat step #2 on the other side of the mouth.</li>
    <li>Place the Q-Tip in the glass container so that the cotton tip is sticking out of the top. Allow to air dry for half an hour (make sure you DO NOT blow on the Q-Tip). Make sure it does not touch anything. Allow to dry naturally.</li>
    <li>Once the Q-Tip is dry, place the Q-tip in the paper envelope. Seal the envelope with tape (Do not lick! You don’t want to get YOUR DNA on it.) Place the envelope into the freezer bag, and place the freezer bag into the freezer.</li>
  </ol>
  <p>Note: Clean fingernail and toenail clippings, hair (at least 10-20 strands with follicle still attached) and baby teeth can also be used, but will not provide as good a DNA sample. Bandages with blood from a cut or scrape will work as well. Wear gloves while collecting all samples, and store all samples in a sealed paper envelope in a labeled plastic freezer bag in the freezer.</p>
</div>
