<div>
  <p>If you believe that your child may be taken out of the country by their abductor, you will want to have these resources at the ready:</p>
  <ol>
    <li>A court order that prohibits the child’s removal from the court’s jurisdiction.</li>
    <li>A list of phone numbers for the Airport Police at the airports where your child is most likely to be taken in order to leave the country.</li>
    <li>A list of the phone numbers for the Corporate Security Officers for the airlines that the other parent is most likely to use to leave the country.</li>
    <li>The numbers to the embassy offices where the other parent would most likely go to apply for a passport for your child.</li>
  </ol>

  <p>If your child is a U.S. Citizen under the age of 18, you can set up a Passport Issuance Alert, to alert you if the abductor applies for a U.S. passport for your child.</p>

  <div>
    Children’s Passport Issuance Alert Program (CPIAP)
    <a href="mailto:preventabduction@state.gov">preventabduction@state.gov</a>
    phone: <a href="tel:+18884074747">1-888-407-4747</a>
    fax:  202-736-9133
  </div>

  <div>
    U.S. Department of State
    Overseas Citizen Services, Office of Children’s Issues
    2201 “C” Street NW
    Washington, DC, 20520
  </div>

  <p>If the other parent is a citizen of another country, your child may have dual nationality. Contact the embassy of that country and inquire about their passport requirements for minors.</p>

  <p>Call the State Department at 1-888-407-4747 and request help.</p>
</div>
