<div>
  <div>Definition of runaway Youth:</div>
  <div>A person under the age of 18 who absents himself or herself from home or place of legal residence without the permission of a parent or legal guardian.</div>

  <ol>
    <li>Check in with the people your child knows who may have been in contact with your child. This includes their friends, friend’s parents, school officials, bus driver, neighbors, an employer, relatives, or anyone else you would expect to have had recent contact with them. Ask them to let you know if they hear from your child.</li>
    <li>Report your child missing to the local Police Department or Sheriff’s Office. Have an officer come to your home to take the report.</li>
    <li>Federal Law mandates that there is NO waiting period to make a missing child report. You do not have to wait any amount of time before making a report, and officers cannot require you to wait. If the officer does not give you information on next steps and how to follow up, ask him to provide you with that information.</li>
    <li>Provide the officer with a recent photo of your child, and ask where to send the information in your Child ID Kit record.</li>
    <li>Help the officer access any social media, electronic devices, or communications that your child uses. If you or the other parent are the account holder on your child’s phone, contact your provider for location information on their phone.</li>
    <li>Keep a Notebook, and record all information on the investigation. Write down the officer’s name, badge number, contact phone number, and the police report number. Keep any papers that you get in a single envelope, folder, or document holder.</li>
    <li>Write down who you talk to and what they tell you. Also note date and time. Get their name and number if you don’t already have it.</li>
    <li>Make sure that your Law Enforcement enters your child’s name and description into the National Crime Information Center (NCIC). Ask them for your Child’s NICIC number, and make sure to write it down in your notebook.</li>
    <li>Federal Law (The Missing Children Act of 1982) says that a child must be entered in NCIC immediately. This means within two hours of taking the report. If your local law enforcement will not enter the child in NCIC, your local FBI office will.</li>
    <li>Request that the police forward the necessary information to the Minnesota State Missing and Unidentified Person’s Clearinghouse. In Minnesota, the Clearinghouse is operated by the Bureau of Criminal Apprehension (BCA).</li>
    <li>Contact Missing Children Minnesota at (612) 334-9449 or 1-888-RUN-YELL (1-888-786-9355).</li>
    <li>Contact the National Center for Missing and Exploited Children (NCMEC) at 1-800-THE-LOST (1-800-843-5678).</li>
    <li>Contact the National Runaway SafeLine at 1-800-RUNAWAY (1-800-786-2929) ask if your child has left a message, and leave a message for your child.</li>
    <li>Call or check local spots your child may frequent. Leave messages for them at local shelters for runaway youth. Call local Emergency Rooms or Hospitals.</li>
    <li>Put up posters in areas preferred by your child. If you find that your posters are being removed, it may be an indication that your child is in that area. NOTE: It is not permitted to place any kind of notice on MTC bus shelters or buildings.</li>
    <li>Put a message on your phone that you will accept collect calls, as well as a message to your child that will be inviting to them.</li>
    <li>Revisit social media and your child’s contacts frequently to see if any new information has arisen. Give all information to the Law Enforcement person assigned to your child’s case.</li>
    <li>When your child returns home, contact all organizations and agencies working on your child’s case and let them know they can close their records.</li>
    <li>Follow the plans that you have made for when your child returns home. This may include reunification therapy, implementing alternative education plans, etc.</li>
  </ol>
</div>
