<div>
  <div>
    <h4>Safer Kids know:</h4>
    <ul>
      <li>Their full name, address and phone number</li>
      <li>The full names and contact info for all their parents</li>
      <li>How to dial 911 in an emergency</li>
      <li>How to make a collect call</li>
      <li>How to use a rotary dial phone</li>
      <li>To use the “buddy system” – it is safer to play, bike, or walk with others</li>
      <li>How to not reveal that they are home alone even over the phone or the internet (role-playing this is helpful for practice)</li>
      <li>To not answer the door if they are home alone</li>
      <li>To not go to anyone’s house unless they tell their caregiver or parent</li>
      <li>To ALWAYS get permission before accepting a ride, from anyone including people they know</li>
      <li>To always talk to parents, police, school officials about suspicious incidences, and things that just don’t seem quite right</li>
      <li>To avoid the “help lure” and ask their parent or caregiver before giving help or aid to anyone, even people they know</li>
      <li>That running away is dangerous, doesn’t solve problems, and usually makes things worse. It is safer to ask for help from your adults</li>
      <li>They have a right to use the phone in an emergency, and don’t need to ask permission</li>
      <li>Nobody has a right to touch the private parts of your body, except for medical reasons. Then, a trusted adult should be present, and it shouldn’t be a secret.</li>
      <li>All touch has to be OK with BOTH people. If a kind of touch is not OK with you, you have a right to say “no” and to get help.</li>
      <li>The difference between “secrets” and “surprises”.  Secrets between kids and their caregivers are not OK, and things get worse the longer they are kept. Surprises are temporary, and when they end, everyone is happy. If your child is every told that something bad will happen if he or she tells, they should know to tell you right away.</li>
    </ul>
  </div>

  <div>
    <h4>Safer Parents know:</h4>
    <ul>
      <li>To not let their children go alone to another part of the store when shopping.</li>
      <li>To ask for references for people caring for your child (and check them out).  Never accept any unaccountable behavior. Make sure that the caregiver understands that they are not to leave your child with, or let your child go with, anyone without your permission. They must get permission every time, even if you have said that a person is OK in the past.</li>
      <li>Where their children are at all times, and teach them to check in with a parent whenever plans change.</li>
      <li>Know the full names and contact information of their children’s friends, and their friend’s parents.</li>
      <li>Know their school’s policy of parental notification, and make sure that the school has up-to-date contact information in case of emergency or unplanned absence.</li>
      <li>To ask “why” when someone shows their child too much attention, or seems to have an inappropriately strong or intimate bond with their child.</li>
      <li>Maintain regular phone contact with their child whenever they are away from them. Calling and speaking with the child is better than texting. You can learn a lot more from hearing your child’s voice on the phone than you can from their texts. Texting can supplement your communications, but if a child’s plans change, call them and get the word from them in a voice call.</li>
      <li>To never label their child’s clothing where it is visible to others. This puts a child on a first-name basis with the whole world.</li>
      <li>To check and keep locks on windows and doors secure and in good repair.</li>
      <li>To talk to their children about the behaviors that other people exhibit, not about “strangers”. Because people they know and should be able to trust will sometimes do unsafe things, and someday a “stranger” may be the only person who can help in a dangerous situation. Also, it is a lot easier to recognize unsafe behavior than it is to tell by looking at someone if they are safe or unsafe.</li>
    </ul>

    <p>More information is available through our programs, but here is an overview (call 612-334-9449 or 1 (888) RUN-YELL (1-888-786-9355) for more info):</p>
  </div>

  <div>
    <h4>RUN, YELL & TELL!®  (ages toddler-7)</h4>
    <p>If anyone tries to give you anything, asks you to go somewhere with them, say “I have to ask First!” And RUN to the person taking care of you, and ask if it’s OK.</p>
    <p>If someone tries to grab you, touch you in a way that is not OK, make you go away with them, or makes you feel scared, “icky” or confused:</p>
    <ul>
      RUN to where there are people
      YELL in a loud voice “Help!  This is not OK!” Or something that will let people know you are in trouble.
      TELL an adult what happened to you. If that adult does not help enough to make you feel safe, tell another adult, and KEEP TELLING until you get the help you need.
    </ul>
    <p>If someone does something bad to you, it is not your fault. Talk to a trusted adult and ask for help.</p>
  </div>

  <div>
    <h4>I Want to Be S.A.F.E.R.!® (ages 8-12)</h4>
    <p>Buddy system: We are safer with other people. Stick together and don’t go off alone.</p>

    <p>Check System</p>
    <ul>
      <li>CHECK IN with whoever is taking care of you often and give them updates whenever plans change.</li>
      <li>They should know where you are, where you are going, who you are with, how you are getting there, and how you will get back.</li>
      <li>CHECK IT OUT with a trusted adult if something does not seem right. Listen to your instincts if you find yourself having an “uh-oh feeling” or thinking to yourself “That’s weird….”</li>
      <li>CHECK UP on your friends if something doesn’t seem right, or if you get separated. Call and make sure everyone got home OK (voice is better than text). If not, make sure their adults know that there is something wrong, and all the information that you had the last time you saw them. If your friend’s behavior is off, or odd or weird – if something doesn’t seem right, discuss it with a trusted adult.</li>
    </ul>
  </div>
  <div>
    <h4>Erica’s Choices® (ages 13-18)</h4>
    <p>Making safe choices is easier if you have the skills that you need to step back and think before acting. Deciding to run is not a safe choice. It does not solve problems, and often makes problems worse.</p>

    <p>If you are thinking about running away, find a trusted adult or councilor to talk to. If you don’t know who to talk to or are not sure how to start the conversation, you can call 1-800-RUNAWAY (1-800-786-2929) for help understanding your safer alternatives.</p>

    <p>Children need to learn several skills to make them less likely to choose running away as an alternative to working out their problems.</p>

    <p>They need the ability to face problems with confidence that they can access whatever resources (including their adults) they will need to overcome a problem.</p>
    <p>They need to have the ability to understand who “owns” the problems that affect them. When children “take on” responsibility for the problems of their adults, the situation can be overwhelming for them.</p>
    <p>They need to trust that the purpose of discipline is to teach, guide and protect them. If it is out of line with their mistakes and offenses, it will have the opposite effect.</p>
    <p>They need help practicing using such problem-solving skills as Pro/con charts, flowcharting, polling, journaling, brainstorming and prioritizing to help them keep problems in perspective, understand their priorities, budget their resources, and understand their own needs so that they can communicate them to their adults when asking for help.</p>
  </div>
</div>
