<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.7.100-Beta" targetFramework="monoandroid71" />
  <package id="CSLA-XamarinForms" version="4.7.100-Beta" targetFramework="monoandroid71" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.0.3" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="monoandroid71" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="monoandroid71" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="PInvoke.BCrypt" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.Kernel32" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.NCrypt" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.Windows.Core" version="0.5.97" targetFramework="monoandroid71" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.Permissions" version="2.0.1" targetFramework="monoandroid71" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="monoandroid71" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="monoandroid71" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Principal" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Validation" version="2.4.15" targetFramework="monoandroid71" />
  <package id="Xam.Plugin.Contacts" version="2.0.2-beta1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="monoandroid71" />
</packages>