<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.6.400" targetFramework="xamarinios10" />
  <package id="CSLA-XamarinForms" version="4.6.400" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Contacts" version="2.0.2-beta1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.1.114" targetFramework="xamarinios10" />
</packages>